@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    font-family: 'Hubballi', cursive;
    background-color: var(--background);
    padding-bottom: 30px;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

.intro {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    line-height: 1.1rem;

}

.animal-display {
    background: rgb(1, 53, 24);
    width: 30%;
    display: flex;
    justify-content: center;
    height: 400px;
    border-radius: 10px;
}

#animal-image {
    height: 250px;
    width: auto;
    position: relative;
    top: 40px;
}