@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    font-family: 'Hubballi', cursive;
    background-color: var(--background);
    padding-bottom: 30px;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

.intro {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    line-height: 1.1rem;

}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

.animal-display {
    background: rgb(1, 53, 24);
    width: 80%;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    left: 10%;
    padding-top: 20px;
    padding-bottom: 40px;
}

#animal-image {
    width: 80%;
}

#name-display {
    color:antiquewhite;
    margin-top: 30px;
    font-size: 1.75rem;
}

.input {
    display: block;
    margin: 30px 0px 30px 0px;
}
